<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd    
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 支持spring3.0新的mvc注解 -->
	<mvc:annotation-driven />
	<!-- 使用注解的包，包括子集 -->
	<!-- 扫描注解 需去除controller，如果不去除会影响事务管理的。   -->
	 <context:component-scan base-package="com">
 	      <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	 </context:component-scan>
	 
	<!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	
	
	<!--配置拦截器, 多个拦截器,顺序执行 -->  
	
	
	<!-- 启动触发器的配置开始 -->
	
	<!-- job的配置结束 -->

	<!-- 工作的bean -->
</beans>  